input[type="radio"] {
    display: none;
    z-index: 90;
}

input[type="radio"] + label {
    font-size: 3.5vh;
    font-weight: bold;
    z-index: 100;
    white-space: nowrap;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    /* margin-bottom: 0.5em; */
}

input[type="radio"] + label:hover {
    font-weight: bold;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 5vh;
    height: 5vh;
    background-size: initial;
    margin: 0px 0.5vh 0 0;
    vertical-align: middle;
    background: url(img-radio/radiobutton.svg) top no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-top: -0.5vh;
}

input[type="radio"]:hover + label span {
    background:url(img-radio/radiobutton-hover.svg) top no-repeat;
    background-size:cover;
}

input[type="radio"]:checked + label span {
	background:url(img-radio/radiobutton-checked.svg) top no-repeat;
	background-size:cover;
	z-index: 80;
}